{% extends 'base2.html' %}
{% block content %}
<div class="container">
{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
        <a href="{% url 'admin' %}" class="btn btn-danger">Yönetim sayfasına dön</a>
        <div class="card mb-5">
            <div class="card-body">



<form method="POST" action="{% url 'viewHotdealsAdmin' %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ürün Adı</span>
        <input type="text" class="form-control" name="title">
    </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Ürün Açıklaması</span>
        <textarea class="form-control" required name="description"></textarea>
    </div>

  

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Teklifin bitiş zamanı</span>
        <input  class="form-control" type="datetime-local" name="end_time" required>
    </div>
    
   
    <div class="input-group mb-3">
        <span class="input-group-text" >Eski Fiyat</span>
        <input type="number" name="oldPrice" required class="form-control">
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text" >Yeni Fiyat</span>
        <input type="number" name="newPrice" required class="form-control">
    </div>
    <div class="input-group mb-3">
    <label for="category" class="input-group-text">Kategori</label>
    <select name="category" required placeholder="category" class="form-select" >
        {% for category in restaurant.categories.all %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
            <option value="0">Diğer</option>
      </select>
    </div>
    <div class="input-group mb-3">
    <input type="file" name="image" class="form-control" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Whatsapp alma mesajı</span>
    <textarea name="buyingMassage" required placeholder='Satın alma sırasında WhatsApp mesajı' class="form-control"></textarea>
    </div>
    <button type="submit" name='btnAddHotdeal' class="btn btn-outline-success">Ekle</button>
</form>
</div>
</div>
</div>
</div>
</div>

{% if success %}
    <h3>{{ success }}</h3>
{% endif %}

{% if error %}
    <h3>{{ error }}</h3>
{% endif %}

<h1>teklif</h1>
 {% for hotdeal in hotdeals %}
   
    {% include "products/hotdeal.html" %}
{% endfor %}
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}