{% extends 'base2.html' %}
{% block content %}
<div class="container">
{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
<a href="{% url 'admin' %}" class="btn btn-danger">Yönetim sayfasına dön</a>
<div class="card mb-5">
    <div class="card-body">
<form method="POST" action="{% url 'viewProductsAdmin' %}"  enctype="multipart/form-data">
    {% csrf_token %}
    
  
    <div class="input-group mb-3">
        <span class="input-group-text">Ürün Adı</span>
        <input type="text" name="title" required class="form-control">
      </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text">Ürün Açıklaması</span>
        <textarea class="form-control"  name="description" aria-label="With textarea"></textarea>
      </div>
   
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ürün Fiyatı</span>
        <input type="number" name="price" class="form-control" >
      </div>
      <div class="input-group mb-3">
    <label for="category" class="input-group-text" >Kategori</label>
    <select name="category" required placeholder="category" class="form-select">
        {% for category in restaurant.categories.all %}
        <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
      </select>
    </div>
    <div class="input-group mb-3">
    <input type="file" required name="image" class="form-control">
    </div>
    <div class="input-group">
        <span class="input-group-text">Whatsapp alma mesajı</span>
    <textarea name="buyingMassage" required placeholder='Satın alma sırasında WhatsApp mesajı' class="form-control"></textarea>
    </div>
    <button type="submit" name='btnAddProduct' class="btn btn-outline-success mt-3">Ekle</button>

</form>
</div>
</div>
</div>
</div>
{% if success %}
    <h3>{{ success }}</h3>
{% endif %}

{% if error %}
    <h3>{{ error }}</h3>
{% endif %}

<h1>Ürünler</h1>
 {% for product in products %}
    {% include "products/product.html" %}
{% endfor %}
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}