{% extends 'base.html' %}

{% block content %}

<style>
    .bg-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/static/img/backFood.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        position: relative;
    }

    .no-bg-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/static/img/salad.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        position: relative;
    }

    .form-container {
        max-width: 600px;
        width: 100%;
    }

    .form-control, .form-select {
        border-radius: 50px;
    }

    .form-control {
        border: 2px solid #dc3545;
        box-shadow: none;
    }

    .btn-danger {
        border-radius: 50px;
    }

    .form-select {
        border: 2px solid #dc3545;
    }

    .form-container .btn-danger {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        border-radius: 50px;
        z-index: 100;
    }

    .form-container .fa-burger {
        position: absolute;
        left: 10px;
        bottom: 17px;
        z-index: 100;
    }

    .countdown {
        font-size: 1.25rem;
        color: #dc3545;
        font-weight: bold;
    }
</style>

<div class="{% if not selected_category and not lastSearch %}bg-image{% else %}no-bg-image{% endif %}">
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="row w-100 justify-content-center">
            <div class="col-md-6">
                
                <div class="text-center mb-4 mt-4">
                    <h1 class="text-light text-center">Yemek Ara</h1>
                </div>
                
                <div class="form-container">
                    
                    <form method="GET" action="{% url 'search' %}" class="position-relative">
                        
                        <div class="mb-3 position-relative">
                            
                            <i class="fa-solid fa-burger fa-2xl position-absolute text-danger" style="z-index:100; left:10px; bottom:17px;"></i>
                            <input type="text" name="q" class="form-control ps-5 pe-5 pt-2" placeholder="Yemek Ara..." value="{{ lastSearch|default_if_none:'' }}" aria-label="Search" style="outline: none; box-shadow: none; border:2px solid #dc3545; border-radius:50px 50px 0px 0px;">
                            <button class="btn btn-danger position-absolute" style="outline:none; border:none; border-radius:0px 50px 0px 0px; z-index:100; right: 0; top: 50%; transform: translateY(-50%);" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-search text-light" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </div>
                        <div class="mb-3">
                            <select name="category" class="form-select ps-5 pe-5 pt-2" style="outline: none; box-shadow: none; border:2px solid  #dc3545;border-radius:0px 0px 50px 50px;">
                                <option value="-1" class="text-muted">Kategori seç</option>
                                {% for category in restaurant.categories.all %}
                                    <option value="{{ category.id }}" {% if category.id|stringformat:'s' == selected_category %}selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
                {% if selected_category or lastSearch %}
                    <h4 class="mt-4 text-center">
                        <span class="text-danger fs-1 bg-light ps-5 pe-5 pt-1 pb-1" style="border-radius:10px;">{{ selected_category_name }}</span>
                    </h4>
                    
                    <h1 class="text-light d-flex align-items-center justify-content-center text-center pt-5 pb-2">Ürünler<i class="fa-solid fa-bowl-food ps-3 fs-1 text-warning"></i></h1>
                    <div class="row">
                        {% for product in product_results %}
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'viewProduct' product.id %}" class="text-decoration-none text-danger fs-3">{{ product.title }}</a>
                                        </h5>
                                        <p class="card-text text-dark fs-5">{{ product.price }} {{ restaurant.currency }}</p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="text-light">üzgünüm, Aramayla eşleşen yemek bulunamadı.</p>
                        {% endfor %}
                    </div>
                    <h1 class="text-light d-flex align-items-center justify-content-center text-center pt-4 pb-2">
                        Teklifler 
                        <i class="fa-solid fa-fire fs-1 ps-3 text-danger"></i>
                    </h1>
                    
                    <div class="row">
                        {% for hotdeal in hotdeal_results %}
                            <div class="col-md-4 mb-4">
                                <div class="card position-relative">
                                    <img src="{{ hotdeal.image.url }}" alt="{{ hotdeal.title }}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="{% url 'viewHotdeal' hotdeal.id %}" class="text-decoration-none text-primary fs-3">{{ hotdeal.title }}</a>
                                        </h5>
                                        <p class="card-text fs-2"><strike class="text-muted fs-5">
                                            {{ hotdeal.oldPrice }} {{ restaurant.currency }}</strike>
                                            {{ hotdeal.newPrice }} {{ restaurant.currency }}
                                          </p>
                                        <p class="text-danger card-text countdown bg-light text-center position-absolute top-0 end-0 p-2  " style="border-radius:30px 0px 30px 0px;" data-end-time="{{ hotdeal.end_time|date:'c' }}"></p>

                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="text-light">Aramanızla eşleşen teklif yok</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="d-flex justify-content-center align-items-center mt-5">
                        <h1 class="text-muted text-center">Henüz arama yapılmadı</h1>
                    </div>
                {% endif %}
            
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateCountdown() {
            const countdownElements = document.querySelectorAll('.countdown');
            const now = new Date().getTime();

            countdownElements.forEach(element => {
                const endTimeString = element.getAttribute('data-end-time');
                const endTime = new Date(endTimeString).getTime();

                // Check if endTime is valid
                if (isNaN(endTime) || endTime <= 0) {
                    element.innerHTML = 'Invalid date';
                    return;
                }

                const timeRemaining = endTime - now;

                if (timeRemaining < 0) {
                    element.innerHTML = 'Deal has ended';
                    // Remove the entire deal card from the DOM
                    const card = element.closest('.col-md-4');
                    if (card) {
                        card.remove();
                    }
                } else {
                    const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
                    const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                    const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

                    element.innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;
                }
            });
        }

        // Initial update
        updateCountdown();
        // Update countdown every second
        setInterval(updateCountdown, 1000);
    });
</script>



{% endblock %}
